<div class="innebox">

    <div class="fixedhead">
        <div class="headtext">Active Items</div>
        <div class="leftbtn">
            <div class="headbtn">
                <!--  -->
                <a routerLink="/items/additem">
                    <p-button label="New" icon="pi pi-plus" styleClass="p-button-sm" class="p-button-success">
                    </p-button>
                </a>
            </div>
            <div class="headbtn">
                <i class="pi pi-align-justify" style="font-size: 30px"></i>

            </div>
        </div>
    </div>


</div>
<div *ngIf="datasource" class="card">
    <p-table #dt [columns]="cols" [value]="datasource" [globalFilterFields]="['itemType','itemPurSellingPrice','itemPurDescription','itemPurAccount','itemSaleAccount','itemName','itemSaleDescription','itemSaleSellingPrice','itemUnit?.name']" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt?.filterGlobal($event?.target?.value, 'contains')" placeholder="Search?.?.?." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>


                <th pSortableColumn="itemName">NAME <p-sortIcon field="itemName"></p-sortIcon>
                </th>
                <th pSortableColumn="itemSaleDescription">DESCRIPTION <p-sortIcon field="itemSaleDescription">
                    </p-sortIcon>
                </th>

                <th pSortableColumn="itemSaleSellingPrice">RATE <p-sortIcon field="itemSaleSellingPrice">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="itemUnit?.name">USAGE UNIT
                    <p-sortIcon field="itemUnit?.name"></p-sortIcon>
                </th>
                <th pSortableColumn="itemSaleAccount">ACCOUNT NAME
                    <p-sortIcon field="itemSaleAccount"></p-sortIcon>
                </th>
                <th pSortableColumn="itemPurAccount">PURCHASE ACCOUNT NAME <p-sortIcon field="itemPurAccount">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="itemPurDescription">PURCHASE DESCRIPTION
                    <p-sortIcon field="itemPurDescription"></p-sortIcon>
                </th>
                <th pSortableColumn="itemPurSellingPrice">PURCHASE RATE <p-sortIcon field="itemPurSellingPrice">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="itemType">TYPE <p-sortIcon field="itemType"></p-sortIcon>
                </th>


                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">

                <td>{{rowData?.itemName}}</td>
                <td>{{rowData?.itemSaleDescription}}</td>
                <td>{{rowData?.itemSaleSellingPrice}}</td>
                <td>{{rowData?.itemUnit?.name}}</td>
                <td>{{rowData?.itemSaleAccount}}</td>
                <td>{{rowData?.itemPurAccount}}</td>
                <td>{{rowData?.itemPurDescription}}</td>
                <td>{{rowData?.itemPurSellingPrice}}</td>
                <td>{{rowData?.itemType}}</td>


                <td>
                    <div class="icon-stacked">
                        <button (click)="showDialog(rowData)" type="button" class="btn edit">
                            <i class="mdi  mdi-lead-pencil"></i>
                        </button>
                        <button (click)="deleteData(rowData)" type="button" class="btn delete">
                            <i class="mdi mdi-delete-variant"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>