.fixedhead{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.innebox{
    height: 100%;
}
.card{
    height: 616px;
}
.leftbtn{
    display: flex;
    justify-content: space-evenly;
}
.headtext{
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 500;
}
.headbtn{
    padding: 0 10px;
    margin: 6px 0px;
}
:host::ng-deep .p-button{
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    height: 30px;
}
:host::ng-deep .p-button:hover{
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    height: 30px;
}
:host::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: none;
    padding: 10px 10px;
    font-size: 12px;
}
.p-input-icon-left{
padding-right: 10px;
}

:host::ng-deep .p-input-icon-left > i:first-of-type {
    left: 9.5rem;
    color: #6c757d;
}