<div class="container">
    <form *ngIf="senderForm" (ngSubmit)="submitform(senderForm)" [formGroup]="senderForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Name</label>
            <input type="text" class="form-control" formControlName="bulkmailName" name="bulkmailName" id="bulkmailName" >
          </div>
          <div class="form-group col-md-6">
            <label >Email</label>
            <input type="text" class="form-control" formControlName="bulkmailEmail" name="bulkmailEmail" id="bulkmailEmail" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Contact Number</label>
            <input type="text" class="form-control" formControlName="bulkmailContact" name="bulkmailContact" id="bulkmailContact" >
          </div>
          <div class="form-group col-md-6">
            <label >Whatsup</label>
            <input type="text" class="form-control" formControlName="bulkmailWhatsapp" name="bulkmailWhatsapp" id="bulkmailWhatsapp" >
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>