.conbox{
    width: 85%;
}
.align{
    line-height: 45px;
}
.contentCheck {
    display: flex;
    justify-content: start;
    line-height: 50px;
    background: #fff;
    border-bottom: 1px solid #e9ecef;
}
:host ::ng-deep .p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
    font-size: 14px;
    padding: 4px 0px 0 10px;
}
:host ::ng-deep .form-horizontal p-dropdown.form-control {
    padding: 0;
}
.disablel{
    cursor:not-allowed;
    opacity: 1;
}
.inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.error{
    font-size: 14px;
    display: flex;
    margin: 0 130px;
}
.font-red{
    color: #e54643;
}
.dishid{
    display: none;
}
.text-dashed-underline {
    padding-bottom: 2px;
    border-bottom: 1px dashed #969696!important;
}
.fixed-actions {
    position: fixed;
    bottom: 0;
    margin: 0 0 0 -14px;
    box-shadow: 0 -4px 5px -3px rgba(0,0,0,.1);
    background-color: #fff;
    width: calc(100% - 200px);
    z-index: 3;
}